[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"bs4" = "*"
nltk = "*"
aiodns = "*"
cchardet = "*"
colorama = "*"
lomond = "*"
Unidecode = "*"
websockets = "*"

[dev-packages]
pylint = "*"
rope = "*"
mypy = "*"

[requires]
python_version = "3.6"

[scripts]
nltk-install= "python3.6 -m nltk.downloader all"
